body {
  background-color: #0D1F2D;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.topMargin30 {
  margin-top: 30px;
}

.topMargin40 {
  margin-top: 40px;
}

.topMargin15 {
  margin-top: 15px;
}

.bottomMargin30 {
  margin-bottom: 30px;
}

.bottomMargin15 {
  margin-bottom: 15px;
}

.padRightLeft15 {
  padding: 0 15px 0 15px;
}

.minHeight80 {
  min-height: 60px;
}

.boxxyshadow {
  -webkit-box-shadow: -10px 0px 13px -7px #000000,
    10px 0px 13px -7px #000000,
    4px 3px 10px -3px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #000000,
    10px 0px 13px -7px #000000,
    4px 3px 10px -3px rgba(0, 0, 0, 0);
}

.marginAuto {
  margin: auto;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.flex-grid-card-button {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.col-card-button {
  flex: 1;
}

.languagesListing {
  padding: 15px 0 0 0;
}

.languagesListing li:first-child p {
  font-weight: bold;
  content: ": ";
}

ul .languagesListing li {
  content: ", "
}

ul .languagesListing li:last-child {
  content: "";
}