body {
  background-color: #0D1F2D;
  margin: 0;
  padding: 0;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.topMargin30 {
  margin-top: 30px;
}

.bottomMargin30 {
  margin-bottom: 30px;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.flex-grid-card-button {
  display: flex;
  align-content: space-between;
}

.col-card-button {
  flex: 1;
}